@import "tailwindcss";

/* For the whole scrollbar */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Background of the scrollbar */
  ::-webkit-scrollbar-track {
    background: #1f1f1f;
    border-radius: 10px;
  }
  
  /* Scrollbar thumb (the draggable part) */
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #7f5af0, #242424);
    border-radius: 10px;
  }
  
  /* On hover */
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(45deg, #5a3cc0, #222222);
  }
  
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background:linear-gradient(90deg, #4824a8,#371b7f, #4824a8);
}